<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div style="color: white">
      <a class="btn btn-dark" (click)="home()">Home</a>
      <a class="btn btn-dark" (click)="course()">Course</a>
      <a class="btn btn-dark" (click)="student()">Student</a>
      <a class="btn btn-dark" (click)="subject()">Subject</a>
      <a class="btn btn-dark" (click)="teacher()">Teacher</a>
    </div>
  </nav>
  <div *ngIf="homepage">
    <app-home></app-home>
  </div>

  <div *ngIf="coursepage">
    <app-course></app-course>
  </div>

  <div *ngIf="studentpage">
    <app-student></app-student>
  </div>

  <div *ngIf="subjectpage">
    <app-subject></app-subject>
  </div>

  <div *ngIf="teacherpage">
    <app-teacher></app-teacher>
  </div>

</div>
